## NLP
---

#### Import files

In [ ]:
%run -i '../scripts/tw_net_analysis.py'

In [2]:
%run -i '../scripts/tw_net_extraction.py'

In [3]:
%run -i '../scripts/tw_net_nlp.py'

In [4]:
df = file_io.ReadCSV('all_days_text')

filename: ../data/models/all_days_text.csv

In [5]:
df.head()

,id_str,text,created_hr,created_dotw,calltime,day,set,call,favorite_count,retweet_count,...,profile_background_color,profile_text_color,user_screen_name,statuses_count,verified,num_tags,num_media,num_symbols,num_urls,num_user_mentions
0,1094936570350747648,First day at my new job ðŸ˜Œ,7,Mon,2019-02-11 07:55:38.984121,11,1,1,0,0,...,F5F8FA,333333,racheeelLehman,126,False,0,0,0,0,0
1,1094936596519026688,@AlexHolleyFOX29 Absolutely!,7,Mon,2019-02-11 07:55:38.984121,11,1,1,0,0,...,F5F8FA,333333,DierolfWilliam,1010,False,0,0,0,0,1
2,1094936629930852352,PM loses moral high ground? I think he lost th...,7,Mon,2019-02-11 07:55:38.984121,11,1,1,0,0,...,F5F8FA,333333,WestPpc,86,False,0,0,0,1,0
3,1094936651741229057,Lawyers of the @TeamCavuto Please Please List...,7,Mon,2019-02-11 07:55:38.984121,11,1,1,0,0,...,000000,000000,DuffGear,1240,False,0,0,0,1,1
4,1094936745190264832,@marklevinshow I AM A PROTECTED CLASS. NO ONE ...,7,Mon,2019-02-11 07:55:38.984121,11,1,1,0,0,...,F5F8FA,333333,SergioAntoni7,5849,False,0,0,0,1,1

### Wordmap and Frequency Tables

In [ ]:
'''
Set 1 
7:30 AM
'''
set_n = 1
setName = 'Set 1'
text_series = df[df['set']== set_n]

# Get text as list
text_list = text_series['text']

# Get freq table and word clouds
set1_freq = ExamineText(text_list[:],setName)

In [ ]:
set1_freq.head()

In [ ]:
'''
Set 1 
7:30 AM
'''
set_n = 2
setName = 'Set 2'
text_series = df[df['set']== set_n]

# Get text as list
text_list = text_series['text']

# Get freq table and word clouds
set2_freq = ExamineText(text_list[:10],setName)

In [ ]:
set2_freq.head()