## Prediction
---

#### Import files

In [35]:
%run -i '../scripts/tw_net_prediction.py'

#### Load Data

In [69]:
'''
Place classifiers name/function call in dictionary.
'''
# Singleclass
gaussian = {'classifier_name':'B Gaussian','classifier_func': GaussianNB()}

# Multiclass 
MNB = {'classifier_name':'MNB','classifier_func': MultinomialNB()}
SVC = {'classifier_name':'SVC','classifier_func': SVC(gamma='auto', decision_function_shape='ovo')}
KNN = {'classifier_name':'KNN','classifier_func': KNeighborsClassifier(n_neighbors=4)}

TypeError: 'dict' object is not callable

In [ ]:
files = ['test_150_ww_nr_nt','test_150_ww_ir_nt','test_150_nw_nr_nt','test_150_nw_ir_nt']

for file in files:
    df = file_io.ReadCSV(file)
    
    features,labels = GetFeaturesLabels(featureSet,'influence_interval')
    classifiers = [bayes,svm,neighbors]
    FitAndScore(features,labels,classifiers)

In [65]:
'''
Read CSV for a target into a dataframe.
Do not add path or extension.
''' 

filename = 'test_150_ww_nr_nt'

test_150_ww_nr_nt = file_io.ReadCSV(filename)
test_150_ww_nr_nt.head()

filename: ../data/models/test_150_ww_nr_nt.csv

,set,user_since,num_tags,num_media,num_symbols,num_urls,num_user_mentions,influence_interval,isVerified,isRetweeted,isReply,dotw
18216,3,9,0,0,0,1,0,4,0,1,0,6
19577,5,9,0,1,0,0,0,4,0,1,0,6
26121,3,7,0,0,0,1,0,4,0,0,0,1
16902,1,7,0,0,0,1,0,4,0,1,0,6
16826,1,7,0,0,0,1,0,4,0,1,0,6

In [68]:
filename = 'test_150_ww_ir_nt'

test_150_ww_ir_nt = file_io.ReadCSV(filename)
test_150_ww_ir_nt.head()

filename: ../data/models/test_150_ww_ir_nt.csv

,set,user_since,num_tags,num_media,num_symbols,num_urls,num_user_mentions,influence_interval,isVerified,isRetweeted,isReply,dotw
19312,5,9,0,1,0,0,0,2,0,1,0,6
17685,3,9,0,0,0,1,0,0,0,0,0,6
25589,3,7,0,0,0,0,0,0,0,0,0,1
16693,1,7,0,0,0,1,0,3,0,0,0,6
16503,1,7,0,0,0,1,0,1,0,1,0,6

In [66]:
filename = 'test_150_nw_nr_nt'

test_150_nw_nr_nt = file_io.ReadCSV(filename)
test_150_nw_nr_nt.head()

filename: ../data/models/test_150_nw_nr_nt.csv

,set,user_since,num_tags,num_media,num_symbols,num_urls,num_user_mentions,influence_interval,isVerified,isRetweeted,isReply,dotw
18901,4,2,1,0,0,0,0,4,1,1,0,6
10192,3,2,0,0,0,1,0,4,1,1,0,4
641,1,10,0,0,0,1,2,4,1,1,0,2
8895,1,10,0,0,0,0,1,4,0,1,1,4
26834,4,5,0,0,0,1,2,4,0,1,1,1

In [67]:
filename = 'test_150_nw_ir_nt'

test_150_nw_ir_nt = file_io.ReadCSV(filename)
test_150_nw_ir_nt.head()

filename: ../data/models/test_150_nw_ir_nt.csv

,set,user_since,num_tags,num_media,num_symbols,num_urls,num_user_mentions,influence_interval,isVerified,isRetweeted,isReply,dotw
18901,4,2,1,0,0,0,0,4,1,1,0,6
10059,3,2,0,0,0,1,0,3,1,1,0,4
641,1,10,0,0,0,1,2,4,1,1,0,2
26834,4,5,0,0,0,1,2,4,0,1,1,1
22193,3,7,1,1,0,0,1,4,0,1,0,7

#### Create, fit,and score classifiers

In [ ]:
# Get features & labels
features,labels = GetFeaturesLabels(featureSet,'isVerified')

# Add classifiers to list
classifiers = [gaussian]

# Fit and score
FitAndScore(features,labels,classifiers)

In [ ]:
tables = [test_150_ww_nr_nt,]

In [64]:
# Get features & labels
features,labels = GetFeaturesLabels(featureSet,'influence_interval')

# Add classifiers to list
classifiers = [bayes,svm,neighbors]

# Fit and score
FitAndScore(features,labels,classifiers)

Classifier 	 Score 	 	 f1
-----------------------------------------------------------------
MNB 	 	 0.63 	 	 0.60	0.61	0.61


SVC 	 	 0.99 	 	 0.93	0.92	0.93


KNN 	 	 0.86 	 	 0.74	0.74	0.72

In [58]:
# Get features & labels
features,labels = GetFeaturesLabels(featureSet,'influence_interval')

# Add classifiers to list
classifiers = [bayes,svm,neighbors]

# Fit and score
FitAndScore(features,labels,classifiers)

Classifier 	 Score 	 	 f1
-----------------------------------------------------------------
MNB 	 	 0.58 	 	 0.54	0.60	0.34


SVC 	 	 0.83 	 	 0.61	0.55	0.50


KNN 	 	 0.58 	 	 0.51	0.43	0.52

/Users/jessedecker/miniconda3/envs/gis/lib/python3.6/site-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
/Users/jessedecker/miniconda3/envs/gis/lib/python3.6/site-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
/Users/jessedecker/miniconda3/envs/gis/lib/python3.6/site-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

In [61]:
# Get features & labels
features,labels = GetFeaturesLabels(featureSet,'influence_interval')

# Add classifiers to list
classifiers = [bayes,svm,neighbors]

# Fit and score
FitAndScore(features,labels,classifiers)

Classifier 	 Score 	 	 f1
-----------------------------------------------------------------
MNB 	 	 0.58 	 	 0.49	0.49	0.54


SVC 	 	 0.88 	 	 0.56	0.44	0.54


KNN 	 	 0.56 	 	 0.42	0.28	0.35