In [1]:
%run -i '../scripts/tw_net_cleaning.py'

In [2]:
%run -i '../scripts/tw_net_analysis.py'

In [11]:
%run -i '../scripts/tw_net_extraction.py'

In [15]:
%run -i '../scripts/tw_net_prediction.py'

---

In [6]:
'''
Enter days/sets/calls combination to select 
one or more sets of tweets to be returned as dataframe.

Ex. All tweets from day 16
'''
days = [16]
sets = [1,2,3,4,5,6]
calls = [1,2,3,4,5]

df = TweetsToDataframe(days,sets,calls)

df.head()

../scripts/tw_net_extraction.py:180: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return data
../scripts/tw_net_extraction.py:181: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

../scripts/tw_net_extraction.py:182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

../scripts/tw_net_extraction.py:183: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  def WrapTags(data):
../scripts/tw_net_extraction.py:184: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  rows = data.index.tolist()

,id_str,text,created_hr,created_dotw,calltime,day,set,call,favorite_count,retweet_count,...,profile_background_color,profile_text_color,user_screen_name,statuses_count,verified,num_tags,num_media,num_symbols,num_urls,num_user_mentions
2147,1096818709694476288,#URGENTE\n#Feb16\n#Miami Florida\nBase área de...,12,Sat,2019-02-16 20:00:34.348130,16,3,5,134,145,...,BADFCD,0C3E53,myteks,157500,False,3,0,0,1,0
2004,1096818709694476288,#URGENTE\n#Feb16\n#Miami Florida\nBase área de...,12,Sat,2019-02-16 18:00:34.232452,16,3,4,120,124,...,BADFCD,0C3E53,myteks,157497,False,3,0,0,1,0
1860,1096818709694476288,#URGENTE\n#Feb16\n#Miami Florida\nBase área de...,12,Sat,2019-02-16 16:00:37.186661,16,3,3,101,103,...,BADFCD,0C3E53,myteks,157488,False,3,0,0,1,0
2107,1096817852609376256,I always suck selca days but I love Hansol. By...,12,Sat,2019-02-16 20:00:34.348130,16,3,5,139,29,...,ABB8C2,333333,tinaursta,5000,False,1,1,0,0,1
1964,1096817852609376256,I always suck selca days but I love Hansol. By...,12,Sat,2019-02-16 18:00:34.232452,16,3,4,136,29,...,ABB8C2,333333,tinaursta,5000,False,1,1,0,0,1

In [12]:
'''
Wrap all but text. Leave identifiers and text to check.
''' 
preview_df = PreviewFeatureSet(df)
preview_df.head()

../scripts/tw_net_extraction.py:20: DeprecationWarning: generator 'ngrams' raised StopIteration
  return list(ngrams(text_list, grams))

,tweet_id,text,created_hr,favorites_counts,followers_count,friends_count,listed_count,statuses_count,num_tags,num_media,...,bigrams,trigrams,quadgrams,ch_trigram,ch_quadgram,source,isVerified,isRetweeted,isReply,dotw
2107,1096817852609376256,I always suck selca days but I love Hansol. By...,12,24795,2167,368,30,5000,1,1,...,"[(always, suck), (suck, selca), (selca, day), ...","[(always, suck, selca), (suck, selca, day), (s...","[(always, suck, selca, day), (suck, selca, day...","[alw, lwa, way, ays]","[alwa, lway, ways]",8,0,0,1,7
686,1096752321919365121,So because you all are in Canada that's why yo...,7,1233,12236,9763,4,10369,0,0,...,"[(canada, behaving), (behaving, way), (way, le...","[(canada, behaving, way), (behaving, way, let)...","[(canada, behaving, way, let), (behaving, way,...","[can, ana, nad, ada]","[cana, anad, nada]",8,0,0,1,7
2854,1096852223567380480,3 more shows to catch your favorite Canadian M...,14,4933,9432,212,35,3149,0,1,...,"[(show, catch), (catch, favorite), (favorite, ...","[(show, catch, favorite), (catch, favorite, ca...","[(show, catch, favorite, canadian), (catch, fa...","[sho, how]",[show],8,0,0,1,7
2768,1096850475993968641,@djrothkopf Why is Ivanka there? She’s neither...,14,7357,159,315,2,2530,0,0,...,"[(djrothkopf, ivanka), (ivanka, neither), (nei...","[(djrothkopf, ivanka, neither), (ivanka, neith...","[(djrothkopf, ivanka, neither, elected)]","[djr, jro, rot, oth, thk, hko, kop, opf]","[djro, jrot, roth, othk, thko, hkop, kopf]",8,0,0,1,7
2105,1096817799270486016,@MylesParrish always with the bangers 🤪 https:...,12,2808,192,242,0,1401,0,1,...,"[(mylesparrish, always), (always, banger)]","[(mylesparrish, always, banger)]",[],"[myl, yle, les, esp, spa, par, arr, rri, ris, ...","[myle, yles, lesp, espa, spar, parr, arri, rri...",8,0,0,1,7

In [13]:
'''
Wrap text, remove identifiers/text, output ready for ml.
This takes a while (5+ minutes for a day).
''' 
featureSet = GetFeatureSet(preview_df)
featureSet.head()

,created_hr,favorites_counts,followers_count,friends_count,listed_count,statuses_count,num_tags,num_media,num_symbols,num_urls,...,"('think', 'slept')","('slept', 'way')","('way', 'ladder')","('kamalaharris', 'america', 'think')","('america', 'think', 'slept')","('think', 'slept', 'way')","('slept', 'way', 'ladder')","('kamalaharris', 'america', 'think', 'slept')","('america', 'think', 'slept', 'way')","('think', 'slept', 'way', 'ladder')"
2107,12,24795,2167,368,30,5000,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
686,7,1233,12236,9763,4,10369,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2854,14,4933,9432,212,35,3149,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2768,14,7357,159,315,2,2530,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2105,12,2808,192,242,0,1401,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
'''
Write csv for each target and day
''' 
filename = 'targets/influence_interval/16'
WriteCSV(featureSet,filename)

In [ ]:
'''
Read all CSVs for a target into a dataframe 
'''